@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.active{
  background-color: green;
  padding: 10px 20px 10px 20px;
  color: white;

}

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Work Sans", sans-serif;

}
